h1 {
    text-align: center;
}

main {
    display: flex;
    flex-flow: row nowrap;
}

#col-1 {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 45%;
}

#col-2 {
    width: 45%;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

