h1 {
    text-align: center;
}

main {
    display: flex;
    flex-flow: column nowrap;
}

#banner {
    display: flex;
    flex-flow: row nowrap;
}

#col-1 {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 45%;
}

#col-2 {
    width: 45%;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

#c1 {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 45%;
}

#c2 {
    width: 45%;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

#c3 {
    width: 45%;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

#detail-charts {
    display: flex;
    flex-flow: row nowrap;
}
